/* line 24, ../../themes/simple/_mixin.scss */
.box, .box-warning, .box-success, .box-info, article .alert-info, .box-normal, .box-error, .box-danger, article .alert-error, article dl dd > code, article p > code, article li > code, article td > code {
  padding: 6pt 12pt;
  border-radius: 0.3em;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
}

/* line 31, ../../themes/simple/_mixin.scss */
.box-warning {
  background-color: #fcf8e3;
  border-color: #fbeed5;
  color: #c09853;
}

/* line 38, ../../themes/simple/_mixin.scss */
.box-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}

/* line 45, ../../themes/simple/_mixin.scss */
.box-info, article .alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}

/* line 52, ../../themes/simple/_mixin.scss */
.box-normal {
  background-color: #f5f5f5;
  border-color: 1px solid #e3e3e3;
}

/* line 58, ../../themes/simple/_mixin.scss */
.box-error, .box-danger, article .alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

/* line 4, ../../themes/simple/style.scss */
html, body {
  margin: 0;
  padding: 0;
}

@media print {
  @page {
    margin: 1cm;
  }
  /* line 14, ../../themes/simple/style.scss */
  body {
    width: 19cm;
    min-width: 19cm;
    max-width: 19cm;
  }

  /* line 20, ../../themes/simple/style.scss */
  img, .thumbnail {
    page-break-inside: avoid;
  }
}
@media screen {
  /* line 26, ../../themes/simple/style.scss */
  html, body {
    background: gray;
  }

  /* line 30, ../../themes/simple/style.scss */
  body {
    margin: 1cm auto;
    width: 21cm;
    min-height: 29.7cm;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1cm;
    background: white;
    box-shadow: 0px 0px 0.5cm black;
  }
}
/* line 41, ../../themes/simple/style.scss */
body {
  font-size: 12pt;
  line-height: 1.4;
  color: #333;
}

/* line 47, ../../themes/simple/style.scss */
article {
  /* ---------------------
   *  Basic Elements 
   * --------------------- */
  /* ---------------------
   *  Class Elements
   * --------------------- */
}
/* line 51, ../../themes/simple/style.scss */
article h1, article h2, article h3, article h4, article h5, article h6 {
  margin: 1em 0 0.5em 0;
  font-size: 1em;
}
/* line 56, ../../themes/simple/style.scss */
article h1 {
  font-size: 2.5em;
  margin-top: 0;
}
/* line 61, ../../themes/simple/style.scss */
article h2 {
  font-size: 2em;
}
/* line 65, ../../themes/simple/style.scss */
article h3 {
  font-size: 1.5em;
}
/* line 69, ../../themes/simple/style.scss */
article h4, article h5, article h6 {
  margin-top: 1.5em;
}
/* line 73, ../../themes/simple/style.scss */
article dl, article ul, article ol, article p, article table, article pre, article blockquote {
  margin-top: 0;
  margin-bottom: 1em;
}
/* line 78, ../../themes/simple/style.scss */
article img, article video {
  max-width: 100%;
}
/* line 82, ../../themes/simple/style.scss */
article a {
  color: #0088cc;
}
/* line 86, ../../themes/simple/style.scss */
article blockquote {
  margin-left: 0.3em;
  padding: 0 0 0 1em;
  border-left: 5px solid #eeeeee;
}
/* line 93, ../../themes/simple/style.scss */
article dl dt {
  margin: 0.8em 0 0.5em 0;
}
/* line 97, ../../themes/simple/style.scss */
article dl dd {
  margin-left: 1.5em;
  display: block;
}
/* line 101, ../../themes/simple/style.scss */
article dl dd > code {
  display: inline-block;
  line-height: 16.8pt;
  font-size: 0.9em;
}
/* line 110, ../../themes/simple/style.scss */
article ul, article ol {
  padding-left: 2.5em;
}
/* line 113, ../../themes/simple/style.scss */
article ul li, article ol li {
  margin: 0.5em 0;
}
/* line 119, ../../themes/simple/style.scss */
article p > code, article li > code, article td > code {
  color: #dd1144;
  padding: 0.05em 0.5em;
  white-space: nowrap;
  font-size: 0.85em;
}
/* line 128, ../../themes/simple/style.scss */
article p + pre {
  margin-top: -0.5em;
}
/* line 132, ../../themes/simple/style.scss */
article code {
  -webkit-tab-size: 4;
  -moz-tab-size: 4;
  -ms-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}
/* line 138, ../../themes/simple/style.scss */
article pre {
  white-space: pre;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  overflow-x: auto;
}
/* line 146, ../../themes/simple/style.scss */
article pre code {
  font-size: 0.8em;
  background-color: transparent;
  border: none;
  padding: 0;
  white-space: inherit;
  color: inherit;
}
/* line 156, ../../themes/simple/style.scss */
article table {
  border-spacing: 0;
  border: 1px solid #ddd;
  border-radius: 0.3em;
  width: 100%;
}
/* line 162, ../../themes/simple/style.scss */
article table td, article table th {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  padding: 0.5em;
  text-align: left;
}
/* line 169, ../../themes/simple/style.scss */
article table td:first-child, article table th:first-child {
  border-left-width: 0;
}
/* line 175, ../../themes/simple/style.scss */
article table tr:first-child td, article table tr:first-child th {
  border-top-width: 0;
}
/* line 182, ../../themes/simple/style.scss */
article table thead + tbody tr:first-child td, article table thead + tbody tr:first-child th {
  border-top-width: 1px;
}
/* line 192, ../../themes/simple/style.scss */
article .thumbnail {
  margin: 1em 2em;
  display: block;
  padding: 0.3em;
  border: 1px solid #ddd;
  border-radius: 0.3em;
  text-align: center;
}
/* line 200, ../../themes/simple/style.scss */
article .thumbnail figcaption {
  margin-top: 0.2em;
  font-style: italic;
}
/* line 207, ../../themes/simple/style.scss */
article .highlight {
  margin-bottom: 1em;
  /* Comment */
  /* Error */
  /* Keyword */
  /* Operator */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */
}
/* line 210, ../../themes/simple/style.scss */
article .highlight table {
  border: none;
  margin: 0;
}
/* line 214, ../../themes/simple/style.scss */
article .highlight table td, article .highlight table th {
  border: none;
}
/* line 219, ../../themes/simple/style.scss */
article .highlight .lines {
  width: 33px;
  background-color: #fbfbfc;
  border: 1px solid #e1e1e8;
  border-right-color: #ececf0;
  border-radius: 0.3em 0 0 0.3em;
}
/* line 226, ../../themes/simple/style.scss */
article .highlight .lines pre {
  color: #bebec5;
}
/* line 230, ../../themes/simple/style.scss */
article .highlight .lines .line-number:after {
  content: ".";
}
/* line 235, ../../themes/simple/style.scss */
article .highlight .code {
  border: 1px solid #e1e1e8;
  border-left: 0;
  background-color: #f7f7f9;
  border-radius: 0 0.3em 0.3em 0;
}
/* line 242, ../../themes/simple/style.scss */
article .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
}
/* line 249, ../../themes/simple/style.scss */
article .highlight pre code span {
  font-family: monospace !important;
}
/* line 255, ../../themes/simple/style.scss */
article .highlight .c {
  color: #999988;
  font-style: italic;
}
/* line 256, ../../themes/simple/style.scss */
article .highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
/* line 257, ../../themes/simple/style.scss */
article .highlight .k {
  color: #000000;
  /* font-weight: bold */
}
/* line 258, ../../themes/simple/style.scss */
article .highlight .o {
  color: #000000;
  /* font-weight: bold */
}
/* line 259, ../../themes/simple/style.scss */
article .highlight .cm {
  color: #999988;
  font-style: italic;
}
/* line 260, ../../themes/simple/style.scss */
article .highlight .cp {
  color: #999999;
  /* font-weight: bold */
  font-style: italic;
}
/* line 261, ../../themes/simple/style.scss */
article .highlight .c1 {
  color: #999988;
  font-style: italic;
}
/* line 262, ../../themes/simple/style.scss */
article .highlight .cs {
  color: #999999;
  /* font-weight: bold */
  font-style: italic;
}
/* line 263, ../../themes/simple/style.scss */
article .highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
/* line 264, ../../themes/simple/style.scss */
article .highlight .ge {
  color: #000000;
  font-style: italic;
}
/* line 265, ../../themes/simple/style.scss */
article .highlight .gr {
  color: #aa0000;
}
/* line 266, ../../themes/simple/style.scss */
article .highlight .gh {
  color: #999999;
}
/* line 267, ../../themes/simple/style.scss */
article .highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
/* line 268, ../../themes/simple/style.scss */
article .highlight .go {
  color: #888888;
}
/* line 269, ../../themes/simple/style.scss */
article .highlight .gp {
  color: #555555;
}
/* line 270, ../../themes/simple/style.scss */
article .highlight .gs {
  /* font-weight: bold */
}
/* line 271, ../../themes/simple/style.scss */
article .highlight .gu {
  color: #aaaaaa;
}
/* line 272, ../../themes/simple/style.scss */
article .highlight .gt {
  color: #aa0000;
}
/* line 273, ../../themes/simple/style.scss */
article .highlight .kc {
  color: #000000;
  /* font-weight: bold */
}
/* line 274, ../../themes/simple/style.scss */
article .highlight .kd {
  color: #000000;
  /* font-weight: bold */
}
/* line 275, ../../themes/simple/style.scss */
article .highlight .kn {
  color: #000000;
  /* font-weight: bold */
}
/* line 276, ../../themes/simple/style.scss */
article .highlight .kp {
  color: #000000;
  /* font-weight: bold */
}
/* line 277, ../../themes/simple/style.scss */
article .highlight .kr {
  color: #000000;
  /* font-weight: bold */
}
/* line 278, ../../themes/simple/style.scss */
article .highlight .kt {
  color: #445588;
  /* font-weight: bold */
}
/* line 279, ../../themes/simple/style.scss */
article .highlight .m {
  color: #009999;
}
/* line 280, ../../themes/simple/style.scss */
article .highlight .s {
  color: #d01040;
}
/* line 281, ../../themes/simple/style.scss */
article .highlight .na {
  color: #008080;
}
/* line 282, ../../themes/simple/style.scss */
article .highlight .nb {
  color: #0086B3;
}
/* line 283, ../../themes/simple/style.scss */
article .highlight .nc {
  color: #445588;
  /* font-weight: bold */
}
/* line 284, ../../themes/simple/style.scss */
article .highlight .no {
  color: #008080;
}
/* line 285, ../../themes/simple/style.scss */
article .highlight .nd {
  color: #3c5d5d;
  /* font-weight: bold */
}
/* line 286, ../../themes/simple/style.scss */
article .highlight .ni {
  color: #800080;
}
/* line 287, ../../themes/simple/style.scss */
article .highlight .ne {
  color: #990000;
  /* font-weight: bold */
}
/* line 288, ../../themes/simple/style.scss */
article .highlight .nf {
  color: #990000;
  /* font-weight: bold */
}
/* line 289, ../../themes/simple/style.scss */
article .highlight .nl {
  color: #990000;
  /* font-weight: bold */
}
/* line 290, ../../themes/simple/style.scss */
article .highlight .nn {
  color: #555555;
}
/* line 291, ../../themes/simple/style.scss */
article .highlight .nt {
  color: #000080;
}
/* line 292, ../../themes/simple/style.scss */
article .highlight .nv {
  color: #008080;
}
/* line 293, ../../themes/simple/style.scss */
article .highlight .ow {
  color: #000000;
  /* font-weight: bold */
}
/* line 294, ../../themes/simple/style.scss */
article .highlight .w {
  color: #bbbbbb;
}
/* line 295, ../../themes/simple/style.scss */
article .highlight .mf {
  color: #009999;
}
/* line 296, ../../themes/simple/style.scss */
article .highlight .mh {
  color: #009999;
}
/* line 297, ../../themes/simple/style.scss */
article .highlight .mi {
  color: #009999;
}
/* line 298, ../../themes/simple/style.scss */
article .highlight .mo {
  color: #009999;
}
/* line 299, ../../themes/simple/style.scss */
article .highlight .sb {
  color: #d01040;
}
/* line 300, ../../themes/simple/style.scss */
article .highlight .sc {
  color: #d01040;
}
/* line 301, ../../themes/simple/style.scss */
article .highlight .sd {
  color: #d01040;
}
/* line 302, ../../themes/simple/style.scss */
article .highlight .s2 {
  color: #d01040;
}
/* line 303, ../../themes/simple/style.scss */
article .highlight .se {
  color: #d01040;
}
/* line 304, ../../themes/simple/style.scss */
article .highlight .sh {
  color: #d01040;
}
/* line 305, ../../themes/simple/style.scss */
article .highlight .si {
  color: #d01040;
}
/* line 306, ../../themes/simple/style.scss */
article .highlight .sx {
  color: #d01040;
}
/* line 307, ../../themes/simple/style.scss */
article .highlight .sr {
  color: #009926;
}
/* line 308, ../../themes/simple/style.scss */
article .highlight .s1 {
  color: #d01040;
}
/* line 309, ../../themes/simple/style.scss */
article .highlight .ss {
  color: #990073;
}
/* line 310, ../../themes/simple/style.scss */
article .highlight .bp {
  color: #999999;
}
/* line 311, ../../themes/simple/style.scss */
article .highlight .vc {
  color: #008080;
}
/* line 312, ../../themes/simple/style.scss */
article .highlight .vg {
  color: #008080;
}
/* line 313, ../../themes/simple/style.scss */
article .highlight .vi {
  color: #008080;
}
/* line 314, ../../themes/simple/style.scss */
article .highlight .il {
  color: #009999;
}
